body{
	margin: 0 auto;
	background-color: ;
	background-repeat: no-repeat;
	background-size: 100% 720px;
}

#content{
	width:500px;
	height:450px;
	text-align:center;
	margin:0 auto;
	background-color:rgba(52,73,94,0.7);
	margin-top: 110px;
	border-radius:16px;   
}
#content img{
	  width:120px;
	  height:120px;
	  margin-top:-60px;
	  margin-bottom: 30px;
	   border-radius: 4px; 
}
input[type="text"],input[type="password"]{
	height:45px;
	width:300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left: 30px;
	border-radius: 4px;
}
/*#form-input:before{
	 content:"";
	 position:absolute;
	 font-family:"fontAwesome";
	 font-size:30px;
	 padding-top: 5px;
	 color:#985986; 
}*/

#btn-login{
	 height:45px;
	 padding:15px 25px;
	 color:#fff; 
	 border:none;
	 background-color: #2ecc71;
	 border-radius: 4px;
	 border-bottom: 4px solid #27ae60;
	 cursor: pointer;
	 margin-bottom: 20px;
}

#btn-signup{
	 height:45px;
	 padding:15px 25px;
	 color:#fff; 
	 border:none;
	 background-color: #2ecc71;
	 border-radius: 4px;
	 border-bottom: 4px solid #27ae60;
	 cursor: pointer;
	 margin-bottom: 20px;
	 margin-left:322px;
}

#remember{
	right:42px;
    top: 2px;
    left:39px;
    float: left;
   margin-top:78px;
  
}
a{
	color:#fff;
}

#signin{

	 height:45px;
	 padding:15px 25px;
	 color:#fff; 
	 border:none;
	 background-color: #2ecc71;
	 border-radius: 4px;
	 border-bottom: 4px solid #27ae60;
	 cursor: pointer;
	 margin-bottom: 20px;
     text-decoration: none;
}

#homeimg{
     margin-right: 62px;
     margin-top: -60px;
}


#wrapper{
	width:100%;
	margin: 0px auto;
}

#header{
	width: 100%;
	height:85px;
	background-color:#252525;
	float:left;

}

#swagbtna{
	   font-family:"proxima nova";
	   font-weight: 40px;
	   font-size: 20px;
	   text-align:center;
	   color:#31A6ff;
	   border:solid 2px #252525 ;
	   border-radius: 50px; 
	   padding: 10px 30px; 
	   text-decoration: inherit;
	   margin-top:25px; 
	   -webkit-transition-duration: 200mx;
	   transition-duration: 200mx;

}

#swagbtna:hover{
	  background-color: #31A6ff;
	  color:#fff;
	}


#display{
   font-weight: bold;
    height:45px;
	 padding:15px 25px;
	 color:#fff; 
	 border:none;
	 background-color: #2ecc71;
	 border-radius: 4px;
	 border-bottom: 4px solid #27ae60;
	 cursor: pointer;
	 margin-bottom: 20px

}

#homebtn{
   margin-top:42px;
   border-radius: 100%;
   

}

