*{
	margin:0px;
	padding: 0px;
}
#menu ul {
	list-style: none;

}
#menu ul li{
background-color:;

width:120px;
height:35px; 
line-height:35px; 
text-align:center;
float: left;
position: relative;
padding-left:16px;
margin-left: 30px;
font-family: "verdana";
}
#menu ul li a{
	text-decoration:none;
	color:white;
   display: block;
}
#menu ul li a:hover{
	 background-color: #31A6ff;
	  color:#fff;
	border-radius: 40px;
	font-size: 17px;
}
#menu ul ul{
	position: absolute;
	display: none;
}
#menu ul li:hover > ul{
	display: block;
}
#text{
	height: 45px;
	width: 300px;
	font-size: 18px;
	margin-bottom: 20px;
	background-color: ;
	padding-left: 30px;
	border-radius: 10px;
}
#btn_style{
	padding-left: 90px;
	padding-bottom:20px ;
	padding-top:20px;
	padding-right: 90px;
	background-color:#ccffcc;
	border-radius:20px;
	font-size: 20px;
	font-family: "verdana";
	color:blue;
}

#btn_style1{
	padding-left: 60px;
	padding-bottom:15px ;
	padding-top:15px;
	padding-right: 60px;
	background-color:#1f6c7f;
	border-radius:20px;
	font-size: 20px;
	font-family: "verdana";
	color:white;
}
#btn_font{
	padding-left: 30px;
	padding-bottom:11px ;
	padding-top:11px;
	padding-right: 30px;
	background-color:#B4B4B4;
	border-radius:20px;
	font-size: 20px;
	font-family: "verdana";
	color:blue;
}
#content1{
	width:850px;
	height:500px;
	text-align:center;
	margin:0 auto;
	background-color:#fff;

	border-radius:16px;   
}
#view_box{
	border-right-width: 150px;
	box-shadow: 0 0 5px #eee;
	padding:5px;
	margin: 5px;
	float: left;
	margin-right: 12px;
	border-radius: 40px;


}

.clear{
	clear:both;
}

#view_box:hover{
   -moz-box-shadow:0 0 10px #ccc;
   -webkit-box-shadow:0 0 10px #ccc;
   box-shadow:0 0 10px #ccc;
   opacity: 0.5;
   filter:alpha(opacity=30);

}

